.slider {
    width: 900px;
    display: flex;
    align-items: center;
}

.slider__item {
    color: white;
    width: 550px;
    height: 300px;
    border-radius: 20px;
    margin-right: 0;
    -webkit-box-reflect: below 0.01px
    linear-gradient(transparent, transparent, #0006);
    position: relative;


    .slider__item_background{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
        border-radius: 20px;
    }

    .slider__item_body{
        display: flex;
        align-items: center;
        height: 100%;
        .slider__item_img{
            z-index: 10;
            border-radius: 20px;
            img{
                border-radius: 20px;
                width: 180px;
                height: 264px;
                margin: 0 20px;
            }
        }
        
            .slider__item_info{
                z-index: 10;
                height: 100%;
                width: 100%;

                .slider__item_info_rating{
                    padding-top: 20px;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 85%;
                    margin-bottom: 10px;
                    svg{
                        color: yellow;
                        height: 25px;
                        width: 25px;
                    }
                }
        
                .slider__item_info_title{
                    max-width: 300px;
                    font-weight: bold;
                    font-size: 24px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 75%;
                }
                .button{
                    display: flex;
                    justify-content: flex-end;
                    flex-shrink: 2;
                    background-color: transparent;
                    color: white;
                    font-size: 20px;
                    border: 2px solid white;
                    padding: 5px 20px;
                    border-radius: 20px;
                    max-width: 100px;
                    transition: all 0.3s linear;
                    &:hover{
                        background-color: #5685ca;
                    }
                }
            }
    }
}

.slider_rated_item{
    cursor: pointer;
    img{
        border-radius: 20px;
        width: 180px;
        height: 260px;
    }
}

